body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
a {
	color:blue !important;
}
p.small {
	line-height: .9em;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #eef2e0;
	background: #eef2e0;
	font-weight: normal;
	color: #000000;
}
.ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(238, 242, 224);
}
.projectbox{
	float:left;
	height: 200px;
	width: 120px;
	border: 1px solid black;
	padding-right: 5%;
	margin: 3px;
	padding-left: 5%;
}
.projectimage{
	width:80%;
	padding: 10%;
	max-height: 130px;
}

.ui-helper-reset {
	font-size:10pt;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 1.2em;
}

.projectUsername {
	color: black;
}

/* Inline blocks properties */

.control {
	background-color: #b18e35;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.variables {
	background-color: #d05f2d;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.procedures {
	background-color: #7c5385;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.text {
	background-color: #b32d5e;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.getters {
	background-color: #439970;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.setters {
	background-color: #266643;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.logic {
	background-color: #8ab74e;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.math {
	background-color: #3f71b5;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.lists {
	background-color: #49a6d4;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

/* Enlarge Image feature */

.tutorialDiv:hover .enlargeImage {
  opacity: 0.75;
}

.left {
	float: left;
	max-width: 30%;
}

.right {
	float:right;
	max-width: 30%;
}

/* Enlarge Image */

.tutorialDiv {
    position: relative;
    display: inline-block;
}

.enlargeImage {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  max-width: 100%;
  max-height: 400px;
}

.zoom {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.tutorialDiv:hover .enlargeImage {
  opacity: 0.3;
}

.tutorialDiv:hover .zoom {
  opacity: 1;
}

.countDiv {
	text-align: center;
}

.tutorialNextButtonContainer {
	width: 100%;
	text-align: center;
}

.hint {
	background-color: #eef2e0;
	border-radius: 3px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hint .hint {
	padding: 10px 0;
}

.hideHint {
	display: none;
}

.btn-success {
	background-color: #8fc202;
	font-size: 24px;
	text-shadow: 0px 0px 1px #404040;
	border: none;
}

.btn-success:hover {
	background-color: #759F00;
}

.btn-success:active {
	background-color: #8fc202;
}

.btn-success:focus {
	background-color: #8fc202;
}
img.DialogBox-image {
  max-width: 100%;
}

.properties {
	font-weight: bold; 
	color: #3399ff;">
}