body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

p.small {
   line-height: 
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #eef2e0;
	background: #eef2e0;
	font-weight: normal;
	color: #000000;
}
.ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(238, 242, 224);
}
.projectbox{
	float:left;
	height: 200px; 
	width: 120px; 
	border: 1px solid black;
	padding-right: 5%;
	margin: 3px;
	padding-left: 5%;
}
.projectimage{
	width:80%; 
	padding: 10%;
	max-height: 130px;
}

.ui-helper-reset {
    font-size:10pt;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1.2em;
}

.projectUsername {
  color: black;
}

.home {
	float:right;
	height: 20px;
	width:20px;
	padding-right: 1%;
	padding-top: 1%;
}

.panel-group {
  margin: 10px;
  background-color: #8fc202;
  border-top:6px solid #8fc202;
  border-bottom:6px solid #8fc202;
  border-radius: 6px;
}

.panel-default>.panel-heading {
  background-color: #8fc202;
  border-color: #8fc202;
}

.plus {
  float:right;
  text-shadow: 0px 0px 1px #404040;
}

.panel-default {
  border-color: #8fc202;
}

.panel-title {
  color: #ffffff;
}

.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
  border-width: 0px;
}

a:hover {
  color: #8fc202;
  font-size: 12px;
  cursor: pointer;
}

a {
  color: #8fc202;
  font-size: 12px;
}

.panel-text {
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 1px #404040;
  font-size: 18px;
}

.panel-text:hover {
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 1px #404040;
  font-size: 18px;
}

h3 {
  color: #555;
  font-size: 18px;
  font-weight: bold;
}

body {
  color: #555;
  font-size: 12px;
}

.btn {
  margin: 5px;
}

.tutorials {
  background-color: #cbdca9;
  border-width: 0px;
  margin: 10px;
}

.tutorials:hover {
  cursor: pointer;
  background-color: #E8F2D4;
}

.tut-nav {
  background-color: #f3f3f3;
  width: 150px;
}

.tut-navig {
  background-color: #f3f3f3;
  border-top:6px solid #f3f3f3;
  border-bottom:6px solid #f3f3f3;
  border-radius: 6px;
}

.tut-nav>.panel-heading{
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

.tutorialNavigationHeader {
  width: 100%;
}

.tutorialContentPage {
  background-color: #f3f3f3;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Enlarge Image */

.tutorialDiv {
    position: relative;
}

.enlargeImage {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 100%;
}

.zoom {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.tutorialDiv:hover .enlargeImage {
  opacity: 0.3;
}

.tutorialDiv:hover .zoom {
  opacity: 1;
}

.tutorialHead {
  float:left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.small {
  background-color: #f3f3f3;
}

.top {
  margin-top: 5px;
  margin-left: 5px;
}

.howtos {
  margin-left:10px;
  margin-right:10px;
  background-color: #f3f3f3;
  padding:5px;
}

.howtohead {
  padding-top: 15px;
  margin-bottom: 15px;
}

.back {
  margin-right:10px;
}

.component {
  background-color: #f3f3f3;
}

.block {
  background-color: #C3C3C3;
}

.tutVid {
  max-width: 250px;
}

/* Tutorials */

.blocks {
  background-color: #b18e35;
  border: 1px dashed #000;
  color: white;
  padding:2px;
}

.tutHeader {
  background-color: #dddddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.back {
  float:left;
  margin-top: 3px;
}

.pager {
  margin-top: 10px;
  margin-bottom: 10px;
}

.topBar {
  background-color: #f3f3f3;
  width:100%;
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.headText {
  margin-bottom: 0px;
  font-size:16px;
  color: #555;
}

/* Inline blocks properties */

.control {
  background-color: #b18e35;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.variables {
  background-color: #d05f2d;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.procedures {
  background-color: #7c5385;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.text {
  background-color: #b32d5e;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.getters {
  background-color: #439970;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.setters {
  background-color: #266643;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.math {
  background-color: #3f71b5;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.lists {
  background-color: #49a6d4;
  border: 1px dashed #000;
  color: white;
  padding:1px;
}

.builtBlock {
  margin-top: 3px;
}
