      <ul class="list-group ui-list">
        <li class="list-group-item"><img src="../../images/blocks/button.png">
          <a data-toggle="collapse" data-target="#demo" class="open">Button</a>
          <div id="demo" class="collapse">
            Lorem ipsum dolor text....
          </div>
        </li>
        <li class="list-group-item"><img src="../../images/blocks/checkBox.png"> <a class="open" rel="ui/notifier.html">CheckBox</a></li>
        <li class="list-group-item"><img src="../images/blocks/math.png"> <a class="open" rel="ui/spinner.html">Math</a></li>
        <li class="list-group-item"><img src="../images/blocks/text.png"> <a class="open" rel="ui/show-image.html">Text</a></li>
        <li class="list-group-item"><img src="../images/blocks/lists.png"> <a class="open" rel="ui/spinner.html">Lists</a></li>
        <li class="list-group-item"><img src="../images/blocks/colors.png"> <a class="open" rel="ui/spinner.html">Colors</a></li>
        <li class="list-group-item"><img src="../images/blocks/variables.png"> <a class="open" rel="ui/spinner.html">Variables</a></li>
        <li class="list-group-item"><img src="../images/blocks/procedures.png"> <a class="open" rel="ui/spinner.html">Procedures</a></li>

<script src="../scripts/blocks.js"></script>
