body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
a {
	color:blue !important;
}
p.small {
	line-height: 
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #eef2e0;
	background: #eef2e0;
	font-weight: normal;
	color: #000000;
}
.ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(238, 242, 224);
}
.projectbox{
	float:left;
	height: 200px; 
	width: 120px; 
	border: 1px solid black;
	padding-right: 5%;
	margin: 3px;
	padding-left: 5%;
}
.projectimage{
	width:80%; 
	padding: 10%;
	max-height: 130px;
}

.ui-helper-reset {
	font-size:10pt;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 1.2em;
}

.projectUsername {
	color: black;
}

/* Inline blocks properties */

.control {
	background-color: #b18e35;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.variables {
	background-color: #d05f2d;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.procedures {
	background-color: #7c5385;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.text {
	background-color: #b32d5e;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.getters {
	background-color: #439970;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.setters {
	background-color: #266643;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.math {
	background-color: #3f71b5;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

.lists {
	background-color: #49a6d4;
	border: 1px dashed #000;
	color: white;
	padding:1px;
}

/* Enlarge Image feature */

.tutorialDiv:hover .enlargeImage {
  opacity: 0.75; 
}

.enlargeImage {
  max-width: 250px; 
}

.left {
	float: left;
	max-width: 30%;
}

.right {
	float:right;
	max-width: 30%;
}